@using ActuallyStandard.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;

<!doctype html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - @SharedLocalizer[SharedResources.Sitemap.ApplicationName]</title>
    <link rel="stylesheet" type="text/css" href="~/dist/styles.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand">@SharedLocalizer[SharedResources.Sitemap.ApplicationName]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">@SharedLocalizer[SharedResources.Sitemap.Home]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Changelog" asp-action="Index">@SharedLocalizer[SharedResources.Sitemap.Changelog]</a>
                </li>
            </ul>

        </div>

    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2017 - @SharedLocalizer[SharedResources.Sitemap.ApplicationName]</p>
            </div>
            <div class="col-md-6 text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </footer>


    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-validate.js"></script>
    <script src="~/js/jquery-validate-unobtrusive.js"></script>
    <script src="~/js/all.js" asp-append-version="true"></script>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
