@model ActuallyStandard.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@DateTime.Now.ToLongDateString();


<br />
<label asp-for="@Model.CookieValue"></label>: @Model.CookieValue



<br />
<label asp-for="@Model.ResourcesValue"></label>: @Model.ResourcesValue





