@model ActuallyStandard.ViewModels.ReleaseViewModel

<article>
    <h2>
        <a asp-controller="Changelog"
           asp-action="Details"
           asp-route-version=@Model.ReleaseVersion>@Model.ReleaseVersion</a></h2>
    <div>@Model.ReleaseDate.ToString("yyyy-MMM-dd")</div>
    <section>
        <table border="1" cellpadding="3" cellspacing="3">
            <tbody>
                @foreach (var item in Model.WorkItems)
                {
                    <tr>
                        <td>
                            @Enum.GetName(typeof(Changelog.Dtos.WorkItemTypeDto), item.WorkItemType)
                        </td>
                        <td>
                            @item.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <section>
        @String.Join(", ", Model.Authors)
    </section>
</article>
